<div class="ui divider"></div>
<footer>
    <a class='toggle' id='toggle-all'></a>
    <div class="black ui label count" id="active-count">
      <div class="detail"><strong>0</strong></div>
      Items Left
    </div>
    <!-- <span class='count' id='active-count'><strong></strong> items left</span> -->
    <div class="4 black fluid ui buttons">
        <div class='ui button filter previous footer-btn' data-filter=''>All</div>
        <div class='ui button filter footer-btn' data-filter='active'>Active</div>
        <div class='ui button filter footer-btn' data-filter='completed'>Complete</div>
        <div class='ui button footer-btn' id='clear-completed'>Clear</div>
    </div>
</footer>
