<!-- Squared TWO -->
<div class="squaredTwo">
    <input type="checkbox" class='checkbox' value="None" id="squaredTwo{{title}}" name="check" {{#if isActive}} {{else}}checked{{/if}}/>
    <label for="squaredTwo{{title}}"></label>
</div>
<p class='title' for='{{title}}'>{{title}}</p>


<!-- <input type="checkbox" value="None" name="vehicle" class='checkbox' {{#if isActive}} {{else}}checked{{/if}}> -->

<!-- <button class='edit'>Edit</button> -->
<!-- <button class='destroy'>Remove</button> -->
<div class="ui icon input pencil editor-input">
  <input class="editor" type="text" placeholder={{title}}>
  <i class="icon"></i>
</div>
<div class="ui animated red button destroy-button">
  <div class="visible content">Remove</div>
  <div class="hidden content correct-center">
    <i class="large trash icon"></i>
  </div>
</div>
<div class="ui animated green button edit-button">
  <div class="visible content">Edit</div>
  <div class="hidden content correct-center">
    <i class="large edit icon"></i>
  </div>
</div>
