<!-- Squared TWO -->
<div class="squaredTwo">
    <input type="checkbox" class='checkbox' value="None" id="squaredTwo{{title}}" name="check" {{#if isActive}} {{else}}checked{{/if}}/>
    <label for="squaredTwo{{title}}"></label>
</div>
<p class='title' for='{{title}}'>{{title}}</p>

<div class="ui input editor-input">
  <input class="editor" type="text" placeholder={{title}}>
</div>

<div class="red ui icon button destroy-button">
  <i class="trash icon"></i>
</div>
<div class="blue ui icon button edit-button">
  <i class="pencil icon"></i>
</div>
